<ion-view title="Session">

	<ion-nav-buttons side="left">
		<ion-nav-back-button class="button-light" ng-click="goBack()">
      		<i class="icon ion-ios7-arrow-back"></i> Schedule
      	</ion-nav-back-button>
	</ion-nav-buttons>

	<ion-content class="has-header padding">
	
		<div ng-controller="SessionDetailCtrl">
			
			<div class="card">
				
				<div class="item item-text-wrap item-divider">
					<h2>{{session.name}}</h2>
					<p>{{session.speaker}}</p>
					<p>{{session.speaker2}}</p>
					<p>{{session.speaker3}}</p>
					<p>{{session.speaker4}}</p>
        			<p>{{session.room}} | {{session.day}}&nbsp;{{session.time}}</p>
				</div>
				
				<div class="item item-body">
					<p>{{session.snippet}}</p>
				</div>
				
			</div>
			<a class="button button-positive" ng-href="#/app/feedback">Feedback</a>
			<a class="button button-positive" ng-href="#/app/presentations">Presentation</a>
		</div>
		
  	</ion-content>

</ion-view>
