<ion-view title="Presentations">

	<ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon" style="color:#fff;"></button>
  </ion-nav-buttons>
	
	<ion-content class="has-header">
	
		
    	
    	<ion-list>
    		<div class="list">
    			<a class="item" href="#" onclick="window.open('http://mobile.ubabenefits.com/Portals/0/Presentations/Succession%20Planning%20121714-Cowden.pdf', '_blank', 'location=yes'); return false;">Agency Succession Planning</a>
    		</div>
	    </ion-list>
    	
  	</ion-content>
  	
</ion-view>
