<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<widget id="com.ubabenefits.UBACon"
		version="0.0.1"
		xmlns="http://www.w3.org/ns/widgets"
		xmlns:cdv="http://cordova.apache.org/ns/1.0"
		xmlns:gap="http://phonegap.com/ns/1.0">
		
  <name>UBA Expo</name>
  <description>
        2015 UBA Fall Meeting &amp; Expo
    </description>
  <author email="mmilligan@ubabenefits.com" href="http://www.ubabenefits.com">
      UBA Technology Team
  </author>
    
  <content src="index.html"/>
  
  <access origin="*"/>
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  <preference name="phonegap-version" value="3.4.0" />
  
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
  <gap:plugin name="org.apache.cordova.statusbar" />
  
  <!-- <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  	<feature name="InAppBrowser">
    	<param name="ios-package" value="CDVInAppBrowser" />
	</feature> -->

<icon src="icon.png" />

  <platform name="ios">
	  <!-- iOS 7.0+ -->
	  <!-- iPhone / iPod Touch -->
	  <icon src="img/res/icons/ios/icon-76.png" width="60" height="60" />
	  <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120" />
	
	  <!-- iPad -->
	  <icon src="img/res/icons/ios/icon-76.png" width="76" height="76" />
	  <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152" />
	
	  <!-- iOS 6.1 -->
	  <!-- Spotlight icon -->
	  <icon src="img/res/icons/ios/icon-40.png" width="40" height="40" />
	  <icon src="img/res/icons/ios/icon-40@2x.png" width="80" height="80" />
	
	  <!-- iPhone / iPod Touch -->
	  <icon src="img/res/icons/ios/icon-29@2x.png" width="57" height="57" />
	  <icon src="img/res/icons/ios/icon-60@2x.png" width="114" height="114" />
	
	  <!-- iPad -->
	  <icon src="img/res/icons/ios/icon-76.png" width="72" height="72" />
	  <icon src="img/icons/ios/icon-76@2x.png" width="144" height="144" />
	
	  <!-- iPhone Spotlight and Settings icon -->
	  <icon src="img/res/icons/ios/icon-29.png" width="29" height="29" />
	  <icon src="img/res/icons/ios/icon-29@2x.png" width="58" height="58" />
	
	  <!-- iPad Spotlight and Settings icon -->
	  <icon src="img/res/icons/ios/icon-29@3x.png" width="50" height="50" />
	  <icon src="img/res/icons/ios/icon-60@2x.png" width="100" height="100" />
	</platform>
	
	<gap:splash src="img/res/splash/screen-android-portrait-hd.png"  	gap:platform="android" gap:density="ldpi" />
    <gap:splash src="img/res/splash/screen-android-portrait-hd.png"  	gap:platform="android" gap:density="mdpi" />
    <gap:splash src="img/res/splash/screen-android-portrait-hd.png"  	gap:platform="android" gap:density="hdpi" />
    <gap:splash src="img/res/splash/screen-android-portrait-hd.png" 	gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="www/img/res/splash/Default~iphone.png"    			gap:platform="ios"		width="320" height="480" />
    <gap:splash src="www/img/res/splash/Default@2x~iphone.png" 			gap:platform="ios"     	width="640" height="960" />
    <gap:splash src="www/img/res/splash/Default-568h@2x~iphone.png" 	gap:platform="ios"     	width="640" height="1136" />
    <gap:splash src="www/img/res/splash/Default-Portrait~ipad.png"      gap:platform="ios"     	width="762" height="1024" />
    <gap:splash src="www/img/res/splash/Default-Landscape~ipad.png"     gap:platform="ios"     	width="1024" height="762" />
    
    
    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
	<gap:splash src="img/res/splash/Default-Landscape@2x~ipad.png" 	gap:platform="ios" 		width="2048" height="1567" />
	<gap:splash src="img/res/splash/Default-Portrait@2x~ipad.png" 	gap:platform="ios" 		width="1567" height="2048" />
    


  
</widget>