<?xml version="1.0" encoding="UTF-8" standalone="yes"?>

<widget id="com.ionicframework.testsidemenu196633"
		version="0.0.1"
		xmlns="http://www.w3.org/ns/widgets"
		
		xmlns:gap="http://phonegap.com/ns/1.0">
		
  <name>UBA Expo</name>
  <description>
        2014 UBA Fall Meeting &amp; Expo
    </description>
  <author email="it_department@ubabenefits.com" href="www.ubabenefits.com">
      UBA Technology Team
  </author>
    
  <content src="index.html"/>
  
  <access origin="*"/>
  
  <preference name="webviewbounce" value="false"/>
  <preference name="UIWebViewBounce" value="false"/>
  <preference name="DisallowOverscroll" value="true"/>
  <preference name="BackupWebStorage" value="none"/>
  
  <feature name="StatusBar">
    <param name="ios-package" value="CDVStatusBar" onload="true"/>
  </feature>
  
  <gap:plugin name="org.apache.cordova.inappbrowser" version="0.3.3" />
  <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

  <platform name="ios">
	  <!-- iOS 7.0+ -->
	  <!-- iPhone / iPod Touch -->
	  <icon src="img/res/icons/ios/icon-60.png" width="60" height="60" />
	  <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120" />
	
	  <!-- iPad -->
	  <icon src="img/res/icons/ios/icon-76.png" width="76" height="76" />
	  <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152" />
	
	  <!-- iOS 6.1 -->
	  <!-- Spotlight Icon -->
	  <icon src="img/res/icons/ios/icon-40.png" width="40" height="40" />
	  <icon src="img/res/icons/ios/icon-40@2x.png" width="80" height="80" />
	
	  <!-- iPhone / iPod Touch -->
	  <icon src="img/res/icons/ios/icon.png" width="57" height="57" />
	  <icon src="img/res/icons/ios/icon@2x.png" width="114" height="114" />
	
	  <!-- iPad -->
	  <icon src="img/res/icons/ios/icon-72.png" width="72" height="72" />
	  <icon src="img/icons/ios/icon-72@2x.png" width="144" height="144" />
	
	  <!-- iPhone Spotlight and Settings Icon -->
	  <icon src="img/res/icons/ios/icon-small.png" width="29" height="29" />
	  <icon src="img/res/icons/ios/icon-small@2x.png" width="58" height="58" />
	
	  <!-- iPad Spotlight and Settings Icon -->
	  <icon src="img/res/icons/ios/icon-50.png" width="50" height="50" />
	  <icon src="img/res/icons/ios/icon-50@2x.png" width="100" height="100" />
	</platform>


  
</widget>